
<!-- 
  Component Name: head links for tech layout
  Input Parameters:
      none
-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- Glyphs UI Library: start; https://glyphs.fyi/  -->
  <script src="https://unpkg.com/@glyphs/wc-core" type="module" ></script>
  <script src="https://unpkg.com/@glyphs/wc-brands" type="module" ></script>
  <script src="https://unpkg.com/@glyphs/wc-flags" type="module" ></script>
  <!-- Glyphs UI Library: end; https://glyphs.fyi/  -->

  <script src="https://kit.fontawesome.com/ff47c8c515.js" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" }}"> <link
  rel="stylesheet" href="{{ "/assets/css/custom.css" }}">
  <link rel="shortcut icon" type="image/x-icon" href="bfe.png" />
  <script src="//cdn.wordart.com/wordart.min.js" async defer></script>
</head>
