
<!-- 
  Component Name: Title with bfe tech layout
  Input Parameters:
      none
-->

<div id="particles-js">
  <div class="header" style="width: 100%">
    <h1>
      <span
        class="site-title"
        style="padding-bottom: 20px; margin-left: auto; margin-right: auto"
        >Tech<img src="{{ site.icon }}#svgView(viewBox(295,160,820,820))" />{{
        site.title }}</span
      >
      <span class="site-subtitle">{{ site.subtitle }}</span>
    </h1>
    <div class="header-icons">
      <a
        aria-label="Send email"
        target="_blank"
        href="{{ site.email }}"
        aria-hidden="true"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <a aria-label="Our Github" target="_blank" href="{{ site.social.github }}"
        ><i class="icon fab fa-github-alt" aria-hidden="true"></i
      ></a>
      <a aria-label="Home" target="_blank" href="{{ site.Home }}"
        ><i
          id="landing-home-icon"
          class="icon fa fa-home"
          aria-hidden="true"
        ></i
      ></a>
    </div>
  </div>
  <a class="down" href="#TODO" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
