<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script src="https://kit.fontawesome.com/ff47c8c515.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" }}">
  <link rel="shortcut icon" type="image/x-icon" href="bfe.png">
  <script src="//cdn.wordart.com/wordart.min.js" async defer></script>
</head>
