<div class="startups force-black-link" style="margin-bottom: -31px;">
  <div class="card video-left">
    <div class="video"><iframe src="https://www.youtube.com/embed/-yFCinGjxeM?start=42&modestbranding=1&cc_lang_pref=en&cc_load_policy=1&rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
    <div class="text"> 
      <h2>ARED</h2>
      <div class="shorttext">
        <span>PaaS internet service and applications provider via solar powered kiosks</span>
        <a href="http://www.a-r-e-d.com/" target="_blank"><i class="fas fa-link"></i></a>
      </div>
      <div class="desc">
          <ul>
            <li>Provides digital access through mini servers, portable solar kiosks and an in-house mobile app to 6 countries across Africa</li>
            <li>Recipient of numerous awards including <a href="https://microsoftcaregh.com/2019/07/25/a-solar-powered-mobile-digital-kiosk-that-empowers-women-across-rwanda/" target="_blank">Microsoft's affordable Access Initiative grant</a> and <a href="https://africa50innovationchallenge.com/solutions/" target="_blank">Special Recognition Award at Africa 50 Innovation Challenge</a> </li>
            <li>Raised 500K USD as of Jan 2020 and on track to more rapid expansion; read more at <a href="https://techpoint.africa/2020/01/09/ared-profile/" target="_blank">their interview with Techpoint Africa</a></li>
          </ul>
      </div>
    </div>
  </div>