<div id="particles-js">
  <div class="header" style="width: 100%;">
      <h1>
        <span class="site-title" style="padding-bottom:20px; margin-left:auto;margin-right:auto;">Tech<img src="assets/img/bfe_logo.svg#svgView(viewBox(295,160,820,820))">BfC</span>
        <span class="site-description">title</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" target="_blank" href="TODO" aria-hidden="true"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Our Github" target="_blank" href="TODO"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Home" target="_blank" href="TODO"><i id="landing-home-icon" class="icon fa fa-home" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#TODO" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>