body {
  display: block;
  margin: 0px;
}

/* column */

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  Width: 100%;
  }
  .column {
    flex: 50%;
    height: 500px;
    margin-top: -20px;
  }

/* bfe footer */

.footer .icons{
  margin: 20px 0;
}

.footer .icons i{
font-size: 20px;
margin: 10px;  
}

/* normal footer */

.normal_footer {
  position: relative;
  text-align: right;
  padding: 20px;
  background-color: rgb(14, 4, 97);
  color: white;
}

/* button */

.read_more_btn{
  padding: 15px 60px;
  background-color: black;
  color: bisque;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}